.container {
  height: 100%;
  width: 90vw;
  margin: 0 auto;
  max-width: 1728px;
}
.container__MainPageArts {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
